/**********
Main Styles
**********/

* {
	box-sizing: border-box;
	font-size: 16px;
}

body {
	background-color: #f1f1f1;
}


/******
Header
******/

#header {
	min-height: 50px;
	line-height: 50px;
}

#header-top {	    
	height: 750px;
    top: -50px;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
    
}